@font-face {
  font-family: "Eastern";
  src: url("../medias/Eastern\ Brush.ttf");
}

@font-face {
  font-family: "fontshui";
  src: url("../medias/FONTSHUI.TTF");
}

@font-face {
  font-family: "Roboto";
  src: url("../medias/Roboto/Roboto-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
}

/************************    CSS - Page D'acceuil   ****************************/

/*-------------------------------------------------------------------------------------------- Mobile First --------*/
/*------------------------------------------------------------------------------------------------------------------*/

body {
  background-color: lightgrey;
  font-family: Roboto;
  overflow: hidden;
}

.global {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

#headerAcc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(../images/million-people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#h1acc {
  color: white;
  font-family: "Eastern";
  font-size: 6rem;
}

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: white;
}

.stylebutton {
  font-family: Roboto;
  border: 1;
  padding: 5% 5%;
  text-align: center;
  font-size: 6rem;
  color: rgb(0, 0, 0);
}

.stylebutton:hover {
  background-color: rgba(255, 0, 0, 1);
  color: white;
}

.stylebutton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#pageacc {
  display: block;
}

/************************    CSS - Difficulté   ****************************/
#headerNiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(../images/monk.jpg);
  background-size: cover;
  background-position-x: 70%;
  background-repeat: no-repeat;
  color: white;
  font-family: "fontshui";
}

#h12 {
  font-size: 6rem;
  font-family: "fontshui";
  color: white;
  background-repeat: no-repeat;
}

#h14 {
  font-size: 6rem;
  font-family: "fontshui";
  color: white;
}

#section2 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

#button2 {
  width: 90%;
}

#button3 {
  width: 90%;
}

#pageniveau {
  display: none;
}

#divDuQuestionExpert {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#pagequestionNovice {
  display: none;
}

#pagequestionExpert {
  display: none;
}

/************************    CSS - Question 1   ****************************/

#headerNov {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/lanternes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#headerExp {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/dragon.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#h1question {
  font-size: 5rem;
  color: white;
  font-family: "fontshui";
}

#section3 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  background-color: white;
  color: black;
  justify-content: space-between;
}

#lesButtonNovice {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.troisOptions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.options {
  font-size: 3.5em;
  font-family: Roboto;
  border: 1;
  padding: 4%;
  text-align: center;
  color: rgb(0, 0, 0);
}

#section4 {
  position: absolute;
  height: 392px;
  width: 1270px;
  background-color: white;
}

#section5 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.pDuQestion {
  color: black;
  font-size: 3rem;
  margin: 0;
}

#buttonabadonner {
  background-color: red;
  color: white;
}

#buttonabadonner2 {
  left: 0;
  top: 0;
  border-radius: 0;
  background-color: red;
  color: white;
}

#pIndice {
  color: red;
  font-size: 2em;
}

#pIndice2 {
  color: red;
  font-size: 2em;
}

#buttonsuivant {
}

#buttonindice {
  top: 0;
  right: 0;
  background-color: yellow;
  color: black;
}

#buttonindice2 {
  top: 0;
  right: 0;
  background-color: yellow;
  color: black;
}

.button {
  border: none;
  color: black;
  cursor: pointer;
}

.button2 {
  border: none;
  background-color: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: #585858;
}

.button2:hover {
  background-color: #585858;
}

.rp1 {
  color: black;
  font-size: 3.5em;
  padding: 4% 0% 4% 0%;
}

.rp2 {
  color: black;
  font-size: 3.5em;
  padding: 4% 0% 4% 0%;
}

.rp3 {
  color: black;
  font-size: 3.5em;
  padding: 4% 0% 4% 0%;
}

.rp4 {
  color: black;
  font-size: 3.5em;
  padding: 4% 0% 4% 0%;
}
.active,
.button:hover {
  background-color: #585858;
}

.active2,
.button:hover {
  background-color: #585858;
}

#buttonabadonner:hover {
  background-color: #fff01e;
}

#buttonabadonner:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#pagequestion {
  display: none;
}

/************************    CSS - Page Résultat   ****************************/

#headerReussi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/Jackie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "fontshui";
}

#presultat {
  font-size: 5em;
}

#ppourcentage {
  font-size: 5em;
}

#ppourcentage2 {
  font-size: 5em;
}

#pageresultatAbandonne {
  display: none;
}

#pageresultatReussi {
  display: none;
}

/*---------------------------------------------------------------------------------------------------------- Tablette --------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 800px) {
  button {
    padding: 0% 0% 0% 0%;
    font-size: 0.5em;
  }

  .rp1 {
    font-size: 2.5em;
    padding: 2% 0% 2% 0%;
  }

  .rp2 {
    font-size: 2.5em;
    padding: 2% 0% 2% 0%;
  }

  .rp3 {
    font-size: 2.5em;
    padding: 2% 0% 2% 0%;
  }

  .rp4 {
    font-size: 2.5em;
    padding: 2% 0% 2% 0%;
  }

  .pDuQestion {
    color: black;
    font-size: 2rem;
    margin: 0;
  }

  .options {
    font-size: 2.5em;
    font-family: Roboto;
    border: 1;
    padding: 3%;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  #button2,
  #button3 {
    font-size: 4.5em;
    padding: 3%;
  }
}

/*------------------------------------------------------------------------------------------------------------- Bureau --------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1008px) {
  /************************    CSS - Difficulté   ****************************/

  /************************    CSS - Question 1   ****************************/

  /************************    CSS - Page Résultat   ****************************/
}
