@font-face {
  font-family: "Eastern";
  src: url("../medias/Eastern\ Brush.ttf");
}

@font-face {
  font-family: "fontshui";
  src: url("../medias/FONTSHUI.TTF");
}

@font-face {
  font-family: "Roboto";
  src: url("../medias/Roboto/Roboto-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
}

/************************    CSS - Page D'acceuil   ****************************/

/*-------------------------------------------------------------------------------------------- Mobile First --------*/
/*------------------------------------------------------------------------------------------------------------------*/

body {
  background-color: lightgrey;
  font-family: Roboto;
  overflow: hidden;
}

.global {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

#headerAcc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(../images/million-people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#h1acc {
  color: white;
  font-family: "Eastern";
  font-size: 2.5rem;
}

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: white;
}

.stylebutton {
  font-family: Roboto;
  border: 1;
  line-height: 2.5;
  padding: 0 5%;
  text-align: center;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
}

.stylebutton:hover {
  background-color: rgba(255, 0, 0, 1);
  color: white;
}

.stylebutton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#pageacc {
  display: block;
}

/************************    CSS - Difficulté   ****************************/
#headerNiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(../images/monk.jpg);
  background-size: cover;
  background-position-x: 70%;
  background-repeat: no-repeat;
  color: white;
  font-family: "fontshui";
}

#h12 {
  font-size: 2.2rem;
  font-family: "fontshui";
  color: white;
  background-repeat: no-repeat;
}

#h14 {
  font-size: 105px;
  font-family: "fontshui";
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/Jackie.jpg);
  background-size: 1270px 480px;
  background-repeat: no-repeat;
  padding-bottom: 135px;
}

#section2 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

#button2 {
  width: 90%;
  margin-top: 10%;
  line-height: 2.5;
  padding: 0 5%;
}

#button3 {
  margin-bottom: 10%;
  width: 90%;
}

#pageniveau {
  display: none;
}

#pagequestionExpert {
  display: none;
}

#pagequestionNovice {
  display: none;
}

/************************    CSS - Question 1   ****************************/

#headerNov {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(../images/lanternes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#h1question {
  font-size: 2rem;
  color: white;
  font-family: "fontshui";
}

#section3 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  background-color: white;
  color: black;
  justify-content: space-between;
}

#lesButtonNovice {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#troisOptions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.options {
  font-size: 1.3em;
  font-family: Roboto;
  border: 1;
  line-height: 1;
  padding: 5%;
  text-align: center;
  color: rgb(0, 0, 0);
}

#section4 {
  position: absolute;
  height: 392px;
  width: 1270px;
  background-color: white;
}

#section5 {
  position: absolute;
  height: 377px;
  width: 1270px;
  background-color: white;
}

.pDuQestion {
  color: black;
  font-size: 1.2rem;
}

#buttonabadonner {
  background-color: rgb(233, 233, 233);
  color: black;
}

#buttonabadonner2 {
  left: 0;
  top: 0;
  border-radius: 0;
  background-color: yellow;
  color: black;
}

#pIndice {
  color: black;
  font-size: 0.7rem;
}

#buttonsuivant {
  bottom: 40px;
  left: 530px;
}

#buttonindice {
  top: 0;
  right: 0;
  background-color: yellow;
  color: black;
}

#buttonindice2 {
  top: 0;
  right: 0;
  background-color: yellow;
  color: black;
}

.button {
  border: none;
  color: black;
  cursor: pointer;
}

.button2 {
  border: none;
  background-color: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 23px;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: #585858;
}

.button2:hover {
  background-color: #585858;
}

.rp1 {
  color: black;
  font-size: 2em;
  padding: 4% 0% 4% 0%;
}

.rp2 {
  color: black;
  font-size: 2em;
  padding: 4% 0% 4% 0%;
}

.rp3 {
  color: black;
  font-size: 2em;
  padding: 4% 0% 4% 0%;
}

.rp4 {
  color: black;
  font-size: 2em;
  padding: 4% 0% 4% 0%;
}
.active,
.button:hover {
  background-color: #585858;
}

.active2,
.button:hover {
  background-color: #585858;
}

#buttonabadonner:hover {
  background-color: #fff01e;
}

#buttonabadonner:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#pagequestion {
  display: none;
}

/************************    CSS - Page Résultat   ****************************/

#presultat {
  font-size: 50px;
  padding-top: 105px;
}

#ppourcentage {
  padding-bottom: 50px;
  font-size: 50px;
}

#ppourcentage2 {
  padding-bottom: 50px;
  font-size: 50px;
}

#pageresultatAbandonne {
  display: none;
}

#pageresultatReussi {
  display: none;
}

/*---------------------------------------------------------------------------------------------------------- Tablette --------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 641px) {
}

/*------------------------------------------------------------------------------------------------------------- Bureau --------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1008px) {
  .global {
    margin: 0 auto;
    width: 1270px;
    text-align: center;
  }

  h1 {
    font-size: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  #h1acc {
    background-position: cover;
    background-size: 100%;
    font-size: 100px;
  }

  #section1 {
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .stylebutton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }

  .stylebutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  #pageacc {
    display: block;
  }

  /************************    CSS - Difficulté   ****************************/
  #pageniveau header {
    background-size: 1270px 460px;
  }

  #h13 {
    font-size: 105px;

    background-size: 1270px 480px;
    padding-bottom: 120px;
  }

  #h14 {
    font-size: 105px;
    background-size: 1270px 480px;
    padding-bottom: 135px;
  }

  #button2 {
    margin-bottom: 35px;
  }

  #button3 {
    padding-left: 25px;
    padding-right: 23px;
  }

  #section2 {
    padding-top: 105px;
    padding-bottom: 75px;
  }

  /************************    CSS - Question 1   ****************************/

  #h1question {
    font-size: 45px;
    padding-top: 75px;
    padding-bottom: 80px;
    background-size: 1270px 600px;
  }

  #section3 {
    position: absolute;
    height: 482px;
    width: 1270px;
    padding-top: 65px;
  }

  #section4 {
    position: absolute;
    height: 392px;
    width: 1270px;
  }

  #section5 {
    position: absolute;
    height: 377px;
    width: 1270px;
  }

  .pDuQestion {
    color: black;
    margin: 0;
  }

  #buttonabadonner {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0;
  }

  #buttonabadonner2 {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0;
  }

  #buttonsuivant {
    position: absolute;
    bottom: 40px;
    left: 530px;
  }

  #buttonindice {
    position: absolute;
    top: 0;
    right: 0;
  }

  #buttonindice2 {
    position: absolute;
    top: 0;
    right: 0;
  }

  .button {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
    display: inline-block;
  }

  .button2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
    display: inline-block;
  }

  .rp1 {
    display: block;
  }

  .rp2 {
    display: block;
  }

  .rp3 {
    display: block;
  }

  .rp4 {
    display: block;
  }

  #buttonabadonner:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  /************************    CSS - Page Résultat   ****************************/

  #presultat {
    font-size: 50px;
    padding-top: 105px;
  }

  #ppourcentage {
    padding-bottom: 50px;
    font-size: 50px;
  }

  #ppourcentage2 {
    padding-bottom: 50px;
    font-size: 50px;
  }
}
